{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <section id="form">
            <div class="row">
                <div class="col-sm-9">
                    <div class="login-form">
                        <h2>تغییر رمز عبور حساب کاربـری:</h2>
                        <form method="post">
                            {% csrf_token %}
                            <form class="forms-sample" method="post">
                                    {% csrf_token %}
                              <div class="form-group">
                                <label for="{{ change_pass.password.id_for_label }}">{{ change_pass.password.label }}</label>
                                {{ change_pass.password }}
                                {% for error in change_pass.password.errors %}
                                <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                              </div>
                              <div class="form-group">
                                <label for="{{ change_pass.re_password.id_for_label }}">{{ change_pass.re_password.label }}</label>
                                {{ change_pass.re_password }}
                                {% for error in change_pass.re_password.errors %}
                                <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                              </div>
                              <button type="submit" class="btn btn-primary ml-2">ویرایش</button>
                            </form>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}