{% extends 'panel/shared/_Panel_MainLayput.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page-body-wrapper">
    {% if request.user.is_staff %}
        {% include 'panel/shared/side_bar.html' %}
    {% else %}
        <nav class="sidebar" id="sidebar">
    <ul class="nav">
      <li class="navman">
        <a class="nav-link"
            {% if request.user.is_authenticated and not request.user.is_staff %}
                href="/account/user"
            {% elif request.user.is_authenticated and request.user.is_staff %}
                href="/account/admin"
           {% endif %}>
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">منوی کاربری</span>
        </a>
      </li>
      <li class="navman">
        <a class="nav-link" href="/account/edit">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">ویرایش مشخصات </span>
        </a>
      </li>
    </ul>
</nav>
    {% endif %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">ویرایش مشخصات کاربری</h4>
                <form class="forms-sample" method="post">
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="{{ edit_form.first_name.id_for_label }}">{{ edit_form.first_name.label }}</label>
                    {{ edit_form.first_name }}
                    {% for error in edit_form.first_name.errors %}
                    <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    <label for="{{ edit_form.last_name.id_for_label }}">{{ edit_form.last_name.label }}</label>
                    {{ edit_form.last_name }}
                    {% for error in edit_form.last_name.errors %}
                    <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    <label for="{{ edit_form.phone.id_for_label }}">{{ edit_form.phone.label }}</label>
                    {{ edit_form.phone }}
                    {% for error in edit_form.phone.errors %}
                    <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                  </div>
                  <button type="submit" class="btn btn-primary ml-2">ویرایش</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
</div>
{% endblock %}
