{% load static %}
<!-- plugins:css -->
<link rel="stylesheet" href="{% static "panels/vendors/mdi/css/materialdesignicons.min.css" %}">
<link rel="stylesheet" href="{% static "panels/vendors/base/vendor.bundle.base.css" %}">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet" href="{% static "panels/vendors/datatables.net-bs4/dataTables.bootstrap4.css" %}">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{% static "panels/css/style.css" %}">
<!-- endinject -->
<link rel="shortcut icon" href="{% static "panels/images/favicon.png" %}">
<link href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static "js/persian-date/persian-datepicker.css" %}"/>
