{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <h2 id="projects-list" class="title text-center">پروژه ها</h2>
                <form id="filter-form" action="filter" method="get" class="form-inline"> 
                    {% csrf_token %}
                    <label for="sort" class="control-label">فیلتر:</label>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <select name="sort" id="sort" class="form-control">
                                <option value="all" selected="&quot;selected&quot;">همه</option>
                                <option value="enable" >در حال اجرا</option>
                                <option value="disable"> انجام شده</option>
                            </select>
                        </div>
                    </div>
                
                    <input type="submit" value="جستجو" class="btn btn-sm btn-primary"></button>
                </form>
                <div class="col-sm-12">
                    <div class="features_items"> <!--features_items-->
                        {% for project in page_obj %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="{{ project.logo.url }}" alt="">
                                        <p>{{ project.name_show }}</p>
                                        <p>{{ project.Groups }}</p>
                                    </div>
                                    <div  class="progress pull-left  text-center " style="width: 100%;"> 
                                        <div id="progres" class="progress-bar " role="progressbar" style="width:{{project.percent}}%;color:black;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.percent}}%</div>
                                    </div>
                                    <br><br>
                                    <div class="flex-row">
                                        <p class="pull-right"><span> {{project.Currentـbudget}} تومان &nbsp</span></p>
                                        <p class="pr-3"><span> از </span class=""><span>&nbsp {{ project.budget }} تومان </span></p>
                                        <p class=""><span> {{project.sponsors}}</span> حمایت کننده </p>
                                        <a class="btn btn-primary btn-block" href="{{ project.get_absolute_url }}">مشاهده </a>

                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h4><span>بودجه:&nbsp</span>{{ project.budget }} تومان</h4>
                                            <p>{{ project.discribtion_show|truncatechars:150}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                        <div class="clearfix"></div>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                            {% endif %}
                            {% for page in paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                            {% endif %}
                        </ul>
                    </div><!--features_items-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}