{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}

{% block content %}
    <section>
        <div class="container">
            <div class="flex-row">
                <h2 id="projects-list" class="title text-center">پروژه ها</h2>
                <div class="flex-row">
                    <div class="col-sm-12">
                    <form id="filter-form" action="filter" method="get" class="form-inline">
                    {% csrf_token %}
                    <div class="col-sm-2 text-right">
                        <div class="form-group">
                            <label for="status" class="control-label">وضعیت:</label>
                            <select name="status" id="status" class="form-control">
                                <option value="all" selected="&quot;selected&quot;">همه</option>
                                <option value="enable" >در حال اجرا</option>
                                <option value="disable"> انجام شده</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="form-group">
                            <label for="group" class="control-label">دسته بندی:</label>
                            <select name="group" id="group" class="form-control">
                            <option value="all" selected="&quot;selected&quot;">همه</option>
                              {% for group in groups %}
                                <option value="{{ group.slug }}">{{ group.title }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                            <div class="form-group">
                                <label style="margin-bottom: 10px" class="form-label">مقدار حمایت مورد نیاز تا اجرایی شدن: </label>
                                <input type="range" oninput="rangefunc(this.value)" name="range" class="form-range" min="0" max="4" step="1" value="0" id="customRange3">
                                <p style="margin-right: 190px" id="price">کمتر از 100 هزار تومان</p>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="form-group">
                             <input type="submit" style="width: 100px" value="جستجو" class="btn btn-primary"></button>
                        </div>
                    </div>
                    </form>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="features_items"> <!--features_items-->
                        {% for project in page_obj %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="{{ project.logo.url }}" alt="">
                                        <p>{{ project.name_show }}</p>
                                        <p>{{ project.Groups }}</p>
                                    </div>
                                    <div  class="progress pull-left  text-center " style="width: 100%;"> 
                                        <div id="progres" class="progress-bar " role="progressbar" style="width:{{project.percent}}%;color:black;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.percent}}%</div>
                                    </div>
                                    <br><br>
                                    <div class="flex-row">
                                        <p class="pull-right"><span> {{project.Currentـbudget}} تومان &nbsp</span></p>
                                        <p class="pr-3"><span> از </span ><span>&nbsp {{ project.budget }} تومان </span></p>
                                        <p class=""><span> {{project.supports}}</span> حمایت </p>
                                        <a class="btn btn-primary btn-block" href="{{ project.get_absolute_url }}">مشاهده </a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h4><span>بودجه:&nbsp</span>{{ project.budget }} تومان</h4>
                                            <p>{{ project.discribtion_show|truncatechars:150}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="clearfix"></div>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                            {% endif %}
                            {% for page in paginator.page_range %}
                                {% if page == page_obj.number %}
                                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                            {% endif %}
                        </ul>
                    </div><!--features_items-->
                </div>
            </div>
        </div>
    </section>
    <script>
        function rangefunc(val){
            var show = document.getElementById('price');
            if (val == 0) {
                show.innerHTML = "کمتر از 100 هزار تومان";
            }else if(val == 1) {
                show.innerHTML = "کمتر از 500 هزار تومان";
            }else if(val == 2){
                show.innerHTML = "کمتر از 1 میلیون تومان";
            }else if(val == 3){
                show.innerHTML = "کمتر از 5 میلیون تومان";
            }else {
                show.innerHTML = "بالای 5 میلیون تومان";
            }
        }
    </script>
{% endblock %}