{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
<br>
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for slide in slides %}
                            <li data-target="#slider-carousel" data-slide-to="{{ forloop.counter }}" class="{{ forloop.first|yesno:"active," }}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for slide in slides %}
                                    <div class="item {{ forloop.first|yesno:"active," }}">
                                        <img src="{{ slide.image.url }}" class="girl img-responsive"
                                             alt="{{ slide.title }}" width="1200" />
                                    </div>
                            {% endfor %}
                        </div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div> 
                </div>
            </div>
        </div>
    </section><!--/slider-->
    <hr>
    <div class="row counters">
        <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">{{enb_project_count}}</span>
            <p>پروژه های در حال اجرا</p>
        </div>

        <div class="col-lg-4 col-6 text-center">
            <span data-toggle="counter-up">{{project_count}}</span>
            <p>پروژه</p>
        </div>
        <!-- change it to dynamic -->
        <div class="col-lg-4 col-6 text-center">
            {% if price__sum == None %}
            <span data-toggle="counter-up"> 0 تومان  </span>
            {% else %}
            <span data-toggle="counter-up"> {{price__sum}} تومان  </span>
            {% endif %}
            <p>مجموع حمایت</p>
        </div>
    </div>
    <hr>
    <br>
    <section>
        <div class="container">
            <div class="row">
                <div class="recommended_items"><!--NewProduct_items-->
                    <h2 class="title text-center">دسته بندی ها</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for group in groups %}
                                <div class="item {{ forloop.first|yesno:"active,"}}">
                                    {% for gr in group %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="{{ gr.image.url }}" alt=""/>
                                                        <p>{{ gr.title }}</p>
                                                        <a href="/projects/{{ gr.slug }}" class="btn btn-default add-to-cart">مشاهده پروژه ها</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>

            <h2 class="title text-center">پروژه های درحال اجرا</h2>
            <div class="col-sm-12">
                    <div id="slider-carousel2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for project in projects %}
                                <div class="item {{ forloop.first|yesno:"active," }}">
                                    <div class="col-sm-6">
                                        <h2>{{ project.name_show }}</h2>
                                        <p>
                                            {{ project.discribtion_show }}
                                        </p>
                                        <br>
                                        <div  class="progress pull-left  text-center " style="width: 300px;"> 
                                            <div id="progres" class="progress-bar " role="progressbar" style="width:{{project.percent}}%;color:black;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{project.percent}}%</div>
                                        </div>
                                        
                                        <div class="flex-row" ><span class="pull-right"> بودجه : </span><span> {{project.Currentـbudget}} تومان&nbsp </span>
                                        </div>
                                        <a href="{{ project.get_absolute_url }}" class="btn btn-default get">
                                            مشاهده</a>
                                            <br>
                                            <p class="pull-left"> حمایت ها: <span> {{project.supports}}</span></p>
                                            
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="{{ project.logo.url }}" style="margin-right: 0px"
                                             alt="{{ project.name }}" width="350px" height="280x"/>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        <a href="#slider-carousel2" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel2" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div> 
            </div>
            </div>
        </div>
    </section>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
{% if login_user == 'ok' %}
swal('خوش آمدید :)', ' ورود شما با موفقیت انجام شد.')
{% endif %}
{% if logout_user == 'ok' %}
swal('خدانگهدار :(', ' خروج شما با موفقیت انجام شد.')
{% endif %}
{% if create_project == 'ok' %}
swal('پروژه شما ایجاد گردید.')
{% endif %}
{% if register_user == 'ok' %}
swal('ثبت نام با موفقیت انجام شد.')
{% endif %}
</script>
{% endblock %}
