{% extends 'panel/shared/_Panel_MainLayput.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page-body-wrapper">
    {% include 'panel/shared/side_bar.html' %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="d-flex flex-grow-1 align-items-center justify-content-center">
                    <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                        <div class="d-flex flex-column justify-content-around">
                          <small class="mb-1 text-muted">حمایت های امروز</small>
                          <h5 class="mt-1 text-center">{{today_supports}}</h5>
                        </div>
                    </div>
                    <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                        <div class="d-flex flex-column justify-content-around">
                          <small class="mb-1 text-muted">پروژه های تکمیل شده</small>
                          <h5 class="mt-1 text-center">{{completed_project}}</h5>
                        </div>
                    </div>
                    <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                              <div class="d-flex flex-column justify-content-around">
                                <small class="mb-1 text-muted">مجموع حمایت ها </small>
                                <h5 class="mt-1 text-center">{{all_supports}}</h5>
                              </div>
                          </div>
                </div>
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                              <div class="card-body">
                                <p class="card-title">لیست پروژه ها </p>
                                <div class="table-responsive">
                                  <table id="recent-purchases-listing" class="table table-hover text-center">
                                    <thead>
                                      <tr>
                                        <th>ردیف</th>
                                        <th>عنوان</th>
                                        <th>دسته بندی</th>
                                        <th>مبلغ اولیه</th>
                                        <th>مبلغ حمایت</th>
                                        <th>وضعیت</th>
                                        <th>توضیحات</th>
                                        <th>عملیات</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      {% for project in projects  %}
                                      <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td> {{project.name_show}}</td>
                                        <td> {{project.project_category}}</td>
                                        <td>{{project.budget}}</td>
                                        <td>{{project.current_budget}}</td>
                                        {% if project.status == "enable" %}
                                          <td>فعال</td>
                                        {% else %}
                                          <td>غیر فعال</td>
                                        {% endif %}
                                        <td>{{project.description_show|truncatewords:14}}</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-primary">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
