{% extends 'panel/shared/_Panel_MainLayput.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page-body-wrapper">
    {% include 'panel/shared/side_bar.html' %}
     <div class="main-panel">
          <div class="content-wrapper">
              <div class="row">
                    <div class="col-12 stretch-card">
                        <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">{{ title }} دسته</h4>
                                    <form class="forms-sample" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
                                      <div class="form-group">
                                        <label for="{{ edit_category.title.id_for_label }}">{{ edit_category.title.label }}</label>
                                        {{ edit_category.title }}
                                        {% for error in edit_category.title.errors %}
                                        <p style="color: red;">{{ error }}</p>
                                        {% endfor %}
                                      </div>
                                      <div class="form-group">
                                        <label for="{{ edit_category.slug.id_for_label }}">{{ edit_category.slug.label }}</label>
                                        {{ edit_category.slug }}
                                        {% for error in edit_category.slug.errors %}
                                        <p style="color: red;">{{ error }}</p>
                                        {% endfor %}
                                      </div>
                                      <div class="form-group">
                                        <label style="padding-left:10px" for="{{ edit_category.image.id_for_label }}">{{ edit_category.image.label }}</label>
                                        {{ edit_category.image }}
                                        {% for error in edit_category.image.errors %}
                                        <p style="color: red;">{{ error }}</p>
                                        {% endfor %}
                                      </div>
                                      <div class="form-group">
                                        <label for="{{ edit_category.description.id_for_label }}">{{ edit_category.description.label }}</label>
                                        {{ edit_category.description }}
                                        {% for error in edit_category.description.errors %}
                                        <p style="color: red;">{{ error }}</p>
                                        {% endfor %}
                                      </div>
                                      <button type="submit" class="btn btn-primary ml-2">{{ title }}</button>
                                      <a href="/account/admin" class="btn btn-secondary" >بازگشت</a>
                                    </form>
                                  </div>
                                </div>
                    </div>
                    <div class="col-md-12 stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <p class="card-title">لیست دسته ها</p>
                            <div class="table-responsive">
                              <table id="recent-purchases-listing" class="table table-hover text-center">
                                <thead>
                                  <tr>
                                    <th>ردیف</th>
                                    <th>عنوان</th>
                                    <th>پروژه ها</th>
                                    <th>تکمیل شده</th>
                                    <th>توضیحات</th>
                                    <th>عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                  {% for category in project_categories  %}
                                  <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{category.title}}</td>
                                    <td>{{category.project_count}}</td>
                                    <td>{{category.completed_project_count}}</td>
                                    <td>{{category.description|truncatewords:14}}</td>
                                    <td>
                                        <a href="/account/admin/{{category.id}}/remove-category" type="button" class="btn btn-sm btn-primary">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a href="/account/admin/{{category.id}}/edit-category" type="button" class="btn btn-sm btn-secondary">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                    </div>
              </div>
          </div>
     </div>
</div>
<script>
{% if edit_category == 'ok' %}
swal({
    text: 'دسته بندی موردنظر ویرایش شد.',
    button: "بسیار خوب",
})
{% endif %}
{% if create_category == 'ok' %}
swal({
    text: 'دسته بندی موردنظر ایجاد شد.',
    button: "بسیار خوب",
})
{% endif %}
{% if remove_category == 'ok' %}
swal({
    text: 'دسته بندی موردنظر حذف شد.',
    button: "بسیار خوب",
})
{% endif %}
</script>
{% endblock %}
