{% extends 'panel/shared/_Panel_MainLayput.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar" id="sidebar">
    <ul class="nav">
      <li class="navman">
        <a class="nav-link" href="/account/admin">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">منوی کاربری</span>
        </a>
      </li>
      <li class="navman">
        <a class="nav-link"  href="/account/admin">
          <i class="mdi mdi-account menu-icon"></i>
          <span class="menu-title">گزارش کاربران</span>
        </a>
      </li>
      <li class="navman">
        <a class="nav-link" href="/account/admin/edit-groups">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">دسته ها</span>
        </a>
      </li>
      <li class="navman">
        <a class="nav-link" href="/account/edit">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">ویرایش مشخصات </span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- partial -->
  <div class="main-panel">
        <div class="col-md-12 stretch-card">
                    <div class="card">
                      <br>
                      <div class="col-md-12 stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <p class="card-title">لیست کاربران</p>
                            <div class="table-responsive">
                              <table id="recent-purchases-listing" class="table table-hover text-center">
                                <thead>
                                  <tr>
                                    <th>ردیف</th>
                                    <th>نام و نام خانوادگی</th>
                                    <th>تعداد سطح زیر شاخه ها</th>
                                    <th>مبلغ حمایت زیر شاخه ها</th>
                                    <th>تعداد نفرات زیر شاخه ها</th>
                                </tr>
                                </thead>
                                <tbody>
                                  {% for branch in branchs  %}
                                  <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{branch.head_branch}}</td>
                                    <td>{{branch.get_subbranch_level}}</td>
                                    <td>{{ branch.get_subbranch_total_support }}</td>
                                    <td>{{branch.get_sub_branches}}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
</div>
</div>
{% endblock %}
