{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>حامی | تامین مالی جمعی </title>
    {% include 'shared/_HeaderReferences.html' %}
    {% block header_ref %}{% endblock %}
</head>
<body>

{% render_partial 'crowdfunding.views.header' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% block content %}{% endblock %}
{% render_partial 'crowdfunding.views.footer' %}
{% include 'shared/_FooterReferences.html' %}
<script type="text/javascript">
  $(document).ready(function() {
    $(".date").pDatepicker({
        timePicker:{
            enabled:false
        },
        initialValue: false,
        format: 'YYYY/MM/DD',
        calendar: {
            persian: {
                locale: 'fa'
            }
        },
        toolbox: {
                enabled: false
        }
    });
  });
</script>
{% block footer_ref %}{% endblock %}
</body>
</html>