{%load static %}
<footer id="footer"><!--Footer-->
    <div class="footer-Before">
        
    </div>s

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="address">
                        <img src="{%static 'images/home/map.png'%}" alt=""/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="{%static 'images/home/map.png'%}" alt=""/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="companyinfo">
                        <h2><span>HA</span>MI</h2>
                        <p>
                            {{ setting.title }}
                            <br>
                            {{ setting.address }}
                            <br>
                            {{ setting.phone }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-widget">
                        <h2>دسته بندی ها</h2>
                        <ul class="nav nav-pills nav-stacked">
                            {% for group in groups %}
                                <li><a href="/projects/{{ group.slug }}">{{group.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="single-widget">
                        <h2>درباره حامی</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="https://github.com/sepehrsh79/Hami">درباره</a></li>
                            <li><a href="/projects">پروژه ها</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="text-center" style="direction: rtl">
                    {{ setting.copy_right }}
                </p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->