{%load static %}
<footer id="footer"><!--Footer-->
    <div class="footer-Before">
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>دسته بندی ها</h2>
                        <ul class="nav nav-pills nav-stacked">
                            {% for category in project_categories %}
                                <li><a href="/projects/{{ category.slug }}">{{category.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <di class="col-sm-4">
                    <div class="single-widget">
                        <h2>درباره ما</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><p>درباره</p></li>
                            <li><a href="/projects">پروژه ها</a></li>
                        </ul>
                    </div>
                </di>
                <div class="col-sm-4">
                    <div class="companyinfo">
                        <h2><span>Crowd</span>funding</h2>
                        <p>
                            {{ setting.title }}
                            <br>
                             آدرس: {{ setting.address }}
                            <br>
                             شماره تماس:{{ setting.phone }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="text-center" style="direction: rtl">
                    {{ setting.copy_right }}
                </p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->