{% load static %}
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="header-middle-menu">
                    <div class="col-md-6 mainmenu pull-right">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/">صفحه اصلی</a></li>
                            <li><a href="/projects">پروژه ها</a></li>
                            <li id="create-pro"><a href="/projects/create/">ایجاد پروژه</a></li>
                        </ul>
                    </div>
                    <div id="logohead" class="col-md-2 logo ">
                        <a href="/"><img src="{{ setting.logo_image.url }}" alt="Logo" height="100px" width="100px" style="margin-top:-30px ;margin-right:50px"
                                                 /></a>
                    </div>
                    <div class="col-md-2 shop-menu pull-left">
                        <ul class="nav navbar-nav">
                            {% if request.user.is_authenticated and not request.user.is_staff %}
                                <li><a href="/account/user"><i class="fa fa-user"></i> پنل کاربـری</a></li>
                            {% elif request.user.is_authenticated and request.user.is_staff %}    
                                <li><a href="/account/admin"><i class="fa fa-user"></i> پنل مدیریت</a></li>
                            {% endif %}

                            {% if not request.user.is_authenticated %}
                                <li><a href="/account/login"><i class="fa fa-lock"></i>ورود</a></li>
                                <li><a href="/account/register"><i class="fa fa-lock"> </i>ثبت نام</a></li>
                            {% else %}
                                <li><a href="/account/logout"><i class="fa fa-lock"></i> خروج </a></li>
                            {% endif %}
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
</header><!--/header-->
